*{
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 100vh;
}

.container{
    /* border: solid 10px rgb(194, 190, 190); */
    display: flex;
    height: 80%;
}

.nav{
    background-color: rgb(206, 115, 218);
    height: 10%;
    text-align: center;
    font-size: 30px;
    padding: 30px;
    word-spacing: 25px;
}

.content{
    padding: 10px;
    font-size: 20px;
}

.list{
    background-color: rgb(206, 115, 218);
    width: 20%;
}

h1{
    text-align: center;
    padding: 20px;
}

h2{
    line-height: 3;
}

footer{
    background-color: rgb(255, 255, 255);
    height: 10%;